.footer3{
    background-color: black;
}
h2{
    color: white;
}
.body3{
    background-color: aqua;
    opacity: 100%;
}
.ggr6{
    background-color: rgb(65, 190, 209);
    height: 500px;
}
h1{
    color: black;
}
body{
    background-color: rgb(109, 190, 190);
}